<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {{ content_for_header }}
  <title>TEST PASSWORD PAGE</title>
</head>
<body style="background:#000;color:#ff0;font-size:3rem;text-align:center;padding:4rem">
  CUSTOM PASSWORD PAGE WORKING
  {% form 'storefront_password' %}
    <input type="password" name="password">
    <button type="submit">Enter</button>
  {% endform %}
  <div style="display:none">{{ content_for_layout }}</div>
</body>
</html>
