<!-- Sonority Sound Homepage -->
<div class="page-wrapper">
  {% section 'hero' %}
  {% section 'new-release' %}
  {% section 'social-proof' %}
  {% section 'featured-products' %}
  {% section 'testimonials' %}
  {% section 'trust-badges' %}
  {% section 'email-signup' %}
</div>
